.project-teams{
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  flex: 1;
  margin: 0 30px;
  .team{
    &__name{
      margin-bottom: 2*$base-margin;
      margin-top: 4*$base-margin;
      font-size: $large-font-size;
      font-weight: $heavy-font-weight;
      color: $card-text;
    }
  }
}
