.list-container{
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
}
.project-detail{
  flex: 1;
  background-color: $mainpage-bg;
  .container-fluid{
    padding-right: 0;
  }
}

.main-container{
  display: flex;
  flex-direction: row;
}
