.user{
  background-color: $user-bg;
  color: $topmenu-text;
  font-weight: 700;
  font-size: $very-small-font-size;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.user__box-only{
  .user-detail{
    display: none;
  }
}
.user__horizontal {

}
.user__vertical {
  display: inline-flex;
  flex-direction: row;
}
