.team{
  &-list, &-search-member{
    margin: 3*$base-margin 0;
  }
  margin-bottom: 3*$base-margin;
  &-search-member{
    p{
      margin-top: $base-margin;
      font-size: $normal-font-size;
      font-weight: $heavy-font-weight;
      color: $card-text;
    }
    input{
      border: 1px solid rgba(97, 97, 97, 0.18);
      padding: 5px;
      width: 100%;
      background: white;
    }
  }
  &__name{
    display: flex;
    justify-content: space-between;
    font-size: $large-font-size;
    font-weight: $heavy-font-weight;
    color: $card-text;
    button{
      border: none;
      background: transparent;
      box-shadow: none;
    }
    border-bottom: 1px solid rgba(97, 97, 97, 0.18);
    padding: $base-margin 0;
  }
  &__members{
    &__member{
      display: flex;
      justify-content: space-between;
      padding: $base-margin 0;
      border-bottom: 1px solid rgba(97, 97, 97, 0.18);
      .user-detail{
        p{
          &:last-of-type{
            display: none;
          }
        }
      }
      &__role{
        font-size: $card-modal-status-font-size;
        font-weight: $heavy-font-weight;
        color: $card-text;
      }
    }
  }
}
