$topmenu-bg: #e7e7e7;
$mainpage-bg: #f3f3f3;
$sidebar-bg: #cacac8;
$small-font-size: 14px;
$normal-font-size: 16px;
$large-font-size: 18px;
$largest-font-size: 20px;
$very-small-font-size: 11px;
$topmenu-text: #7a7a7a;
$user-bg: #d3d3d3;
$card-text: #9c9c9e;
$card-content: #6e6e6e;
$card-modal-title: #616161;
$card-modal-line-height: 30px;
$card-modal-status-font-size: 12px;
$card-modal-task-line-height: 22px;
