@import 'base';
@import '~normalize.css/normalize';
@import "settings";
@import "./component/TopMenu/TopMenu";
@import "./component/SideMenu/SideMenu";
@import "./component/CardList/CardList";
@import "./component/CardList/NewCardList/NewCardList";
@import "./component/Tag/Tag";
@import "./component/User/User";
@import "./component/CardList/Card/Card";
@import "./component/CardList/NewCard/NewCard";
@import "./component/Modal/CardModal/CardModal";
@import "./component/Modal/NewCardModal/NewCardModal";
@import "./component/Popover/AddMemberPopover/AddMemberPopover";
@import "./component/Project/ProjectList";
@import "./component/Project/ProjectTeamList";
@import "./routes/ProjectDetail/ProjectDetail";
@import "./routes/Login/Login";
@import "./routes/SignUp/SignUp";
@import "./routes/Projects/Projects";
@import "font";
// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  font-family: 'Roboto', sans-serif;
}
