.new-card-modal{
  padding: 0 20px;
  .modal-header{
    border: none;
    text-align: center;
    button{
      position: absolute;
      top: -20px;
      right: -25px;
      font-size: 1.5*$largest-font-size;
      opacity: 1;
      font-weight: 100;
      color: white;
      span{
        color: white;
        text-shadow: none;
      }
    }
  }
  .modal-footer{
    text-align: center;
    border: none;
    margin: $base-margin 0;
    button{
      border: none;
      box-shadow: none;
      font-size: 1.3*$card-modal-status-font-size;
      color: $card-modal-comment-button;
      background-color: $card-modal-comment-button-bg;
      font-weight: 700;
      padding: 0.5*$base-margin $base-margin;
      width: 30%;
      &:hover{
        background-color: lighten($card-modal-comment-button-bg, 2);
      }
      text-transform: uppercase;
    }
  }
  h3{
    font-size: $normal-font-size;
    font-weight: 600;
    color: $card-modal-title;
    margin:0;
    margin-bottom: 0.5*$base-margin;
  }
  h2{
    font-size: 1.2*$largest-font-size;
    font-weight: 400;
    color: $card-modal-title;
    margin: $base-margin 0;
  }
  input{
    font-size: $small-font-size;
    color: $card-modal-title;
    font-weight: 400;
    line-height: $card-modal-task-line-height;
    width: 100%;
    min-height: 2*$base-margin;
    border:  1px solid rgba(97, 97, 97, 0.18);
    border-radius: 3px;
    padding: 0.25*$base-margin;
    &:focus{
      background-color: lighten($card-modal-title, 50%);
    }
    margin-bottom: 1.3*$base-margin;
  }
  &__people{
    border:  1px solid rgba(97, 97, 97, 0.18);
    border-radius: 3px;
    padding: 5px;
    display: inline-flex;
    flex-direction: row;
    .user__box-only{
      margin-right: 5px;
    }
  }
}
